[submodule "libraries/chainbase"]
	path = libraries/chainbase
	url = https://github.com/mtpio/chainbase
        ignore = dirty
[submodule "libraries/appbase"]
	path = libraries/appbase
	url = https://github.com/mtpio/appbase
        ignore = dirty
[submodule "libraries/softfloat"]
	path = libraries/softfloat
	url = https://github.com/mtpio/berkeley-softfloat-3
[submodule "libraries/fc"]
	path = libraries/fc
	url = https://github.com/MTPIO/fc
[submodule "libraries/wabt"]
	path = libraries/wabt
	url = https://github.com/MTPIO/wabt
[submodule "libraries/yubihsm"]
	path = libraries/yubihsm
	url = https://github.com/Yubico/yubihsm-shell
[submodule "libraries/mtp-vm"]
	path = libraries/mtp-vm
	url = https://github.com/mtpio/mtp-vm
[submodule "mtpio-wasm-spec-tests"]
	path = mtpio-wasm-spec-tests
	url = https://github.com/MTPIO/mtpio-wasm-spec-tests
